/*Estilo para tablet*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
  /*Header*/

  .header {
    position: relative;
  }
  /*Introducao*/

  .introducao {
    margin-top: 0;
  }

  .call p {
    margin-top: 50px;
  }
  .personagens_lista li {
    margin: 25px 250px;
  }
  .personagens img {
    margin: 0 auto;
  }

  .personagens-img {
    height: 248px;
    width: 250px;
  }
  .NomePersonagem h2 {
    height: 50px;
    margin-bottom: 30px;
    padding: 15px 20px;
    width: 520px;
  }
  .DescrisaoPersonagem {
    padding: 0;
    height: 168px;
    width: 520px;
  }
  /*Introducao Interna*/
  .interna-sobre {
    margin-top: 0;
  }
  .interna-personagens {
    margin-top: 0;
  }

  .interna-equipe {
    margin-top: 0;
    background: url('../Img/KuwabaraEquipeTablet.png') no-repeat center;
    background-size: cover;
  }

  /*Gerais*/
  .subtitulo:after {
    margin: 14px auto 10px 360px;
  }
  .subtitulo-interno:after {
    margin: 14px auto 15px 165px;
  }
}
/*Estilo para Smartphone Grandes*/
@media only screen and (max-width: 787px) {
  /*Header*/
  .header {
    position: relative;
  }
  .header img {
    margin: 0 auto;
    margin-left: 40px;
  }
  .header_menu {
    text-align: center;
  }

  .header_menu ul li a {
    display: block;
    border: 3px solid #fff;
    float: left;
    width: 140px;
  }
  .header_menu ul li a:hover {
    border-color: #f4cd4c;
  }

  .header_menu ul li {
    margin: 0;
  }
  /*Introducao Interna*/
  .interna-sobre {
    margin-top: 0;
  }
  .interna-personagens {
    margin-top: 0;
  }
  .interna-equipe {
    margin-top: 0;
  }

  /*Introducao*/

  .introducao {
    margin-top: 0;
    background: url('../Img/yyhfullmobile.png') no-repeat center;
    background-size: cover;
  }
  .introducao h1 {
    text-align: center;
  }
  .introducao h2 {
    text-align: center;
  }

  .quote-externo p {
    text-align: center;
  }

  .btn {
    margin: 80px;
  }

  .personagens_lista li {
    margin: 25px 15px;
  }
  .personagens img {
    margin: 0 auto;
  }
  .personagens {
    padding: 20px;
  }
  .personagens-img {
    height: 248px;
    width: 250px;
  }
  .NomePersonagem h2 {
    height: 80px;
    margin-bottom: 30px;
    padding: 15px 20px;
    width: 250px;
  }
  .DescrisaoPersonagem {
    padding: 0;
    height: 270px;
    width: 250px;
  }

  .Equipe {
    height: 400px;
    width: 500px;
    text-align: center;
    padding: 0px 100px;
  }
  .Equipe-QuemSou h2 {
    font-weight: bold;
  }

  .Equipe-Descrisao {
    height: 300px;
    width: 500px;
    margin-top: 0px;
    padding: 20px 100px;
    font-size: 14px;
    text-align: left;
  }
  /*Gerais*/
  .subtitulo:after {
    margin: 14px auto 10px 130px;
  }
  .subtitulo-interno:after {
    margin: 14px auto 15px 130px;
  }

  /*footer*/
  .footer-img {
    margin: 0px 55px;
  }
  .footer-descrisao {
    padding: 0;
  }
}
/*Smartphones L*/
@media only screen and (max-width: 426px) {
}
/*Smartphones M*/
@media only screen and (max-width: 426px) {
}
/*Smartphones S*/
@media only screen and (max-width: 426px) {
}
